<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/general.css"> <!--CSS file-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/instructor.css"> <!--CSS file-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"> <!--Bootstrap CSS-->
    <link rel="preconnect" href="https://fonts.googleapis.com"> <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <!--Google fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> <!--Google fonts-->
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png"> <!--Favicon-->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png"> <!--Favicon-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.js" integrity="sha512-nO7wgHUoWPYGCNriyGzcFwPSF+bPDOR+NvtOYy2wMcWkrnCNPKBcFEkU80XIN14UVja0Gdnff9EmydyLlOL7mQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <style>

          .btn-block-custom {
              background-color: #41d5e1;
              color: white;
              border: 1px solid #41d5e1;
          }
      </style>
  </head>
  <body>
    <div>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a style="color: #115402; font-weight: bold" class="navbar-brand" href="">slido</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="http://localhost:3000/instructor">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="http://localhost:3000/instructor/archived-events">ARCHIVED EVENTS</a>
                        </li>
                    </ul>
                    <span style="margin-right: 1rem;" class="nav-item em">
              <strong><%= user %></strong>
            </span>
                    <div class="btn-group dropstart">
                        <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-gear" viewBox="0 0 16 16">
                                <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z"/>
                                <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115l.094-.319z"/>
                            </svg>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="/instructor/my-profile">
                                    <button title="Check account status?" id="" type="button" class="btn">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="red" class="bi bi-person" viewBox="0 0 20 20">
                                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                                        </svg> My profile
                                    </button>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <!-- Button trigger modal -->
                                    <button title="Check account status?" id="" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#ACCOUNT_status">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-patch-check" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M10.354 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                                            <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z"/>
                                        </svg> Account status
                                    </button>
                                </a>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li>
                                <form action="/instructor/logout" method="post" class="d-flex">
                                    <button style="margin: 0 0 0 3.4rem" class="btn btn-outline-primary btn-block-custom" type="submit">Log Out</button></a>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav> <!--Navbar -->
      <div id="main">
          <h2 class="title-head"><%= title.toUpperCase() %></h2>
          <h4 style="margin-top: 1rem; margin-bottom: 2rem ">List of archived events</h4>
            <div id="panel1">
                <% if (events.length === 0) { %>
                    <div class="container-fluid cards">
                        <h3 class="text-secondary">No events created yet.</h3>
                        <h5 class="text-secondary">Create first one!</h5>
                    </div>
                <% } else { %>
                <div class="container-fluid table-responsive justify-content-center">
                    <table style="text-align: center; margin-bottom: 5rem; overflow-y: scroll" class="table table-bordered table-responsive table-hover align-middle">
                        <thead class="table-light align-middle">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">CODE</th>
                            <th scope="col" style="min-width: 10rem">TITLE</th>
                            <th scope="col" style="min-width: 8.5rem">START DATE</th>
                            <th scope="col" style="min-width: 8.5rem">END DATE</th>
                            <th scope="col">TIME</th>
                            <th scope="col">DURATION</th>
                            <th scope="col">REPETITION</th>
                        </tr>
                        </thead>
                        <tbody class="table-group-divider table-light">
                        <%for (let i=0; i < events.length; i++) {%>
                            <tr>
                                <td><%= [i+1] %>.</td>
                                <td><%= events[i].code %></td>
                                <td><%= events[i].title %></td>
                                <td><%= moment(events[i].start_date).format('DD-MMM-YYYY') %></td>
                                <td><%= moment(events[i].end_date).format('DD-MMM-YYYY') %></td>
                                <td><%= moment(events[i].time, 'hh:mm:ss').format('HH:mm') %></td>
                                <td><%= events[i].duration %></td>
                                <td><%= events[i].repetition %></td>
                            </tr>
                        <%}%>
                        </tbody>
                    </table>
                </div>
                <% } %>
                <% if (totalPages > 1) { %>
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            <% if (currentPage > 1) { %>
                                <li class="page-item">
                                    <a class="page-link" href="?page=<%= currentPage-1 %>" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                            <% } %>
                            <% for (var i = 1; i <= totalPages; i++) { %>
                                <% if (i >= currentPage - 2 && i <= currentPage + 2 && i <= totalPages) { %>
                                    <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                                        <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                                    </li>
                                <% } %>
                            <% } %>
                            <% if (currentPage < totalPages) { %>
                                <li class="page-item">
                                    <a class="page-link" href="?page=<%= Number(currentPage) + 1 %>" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            <% } %>
                        </ul>
                    </nav>
                <% } %>
            </div>
      </div>
      <div class="clear"></div>
      <footer class="bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3 bg-light">
          © 2022 Copyright:
          <a class="text-dark" href="https://www.linkedin.com/in/said-ali%C4%87-03471518b/" target="_blank">ALIC SAID</a>
        </div>
        <!-- Copyright -->
      </footer> <!--Footer-->
    </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script> <!--Bootstrap JS-->
  </body>
</html>

<!-- Modal ACCOUNT STATUS -->
<div class="modal fade" id="ACCOUNT_status" data-bs-backdrop="static"
     data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">ACCOUNT STATUS</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3>ACCOUNT STATUS</h3>
                <h3 class="text-success">OK</h3>
                <h6>Blocked 0 times.</h6>
            </div>
        </div>
    </div>
</div>